<% wrap_layout :layout do %>

<div class="row breadcrumbs_block">
	<div class="col-lg-12 col-sm-12">
		<!-- LOGO -->
		<div class="logo">
			<a href="/index.html"><img src="/images/vfgtop.png"></a> 
		</div><!-- LOGO -->
	</div>
</div>

<section>
	<div class="row">
		<!-- Blog Post -->
		<div class="col-lg-9 col-sm-9 padbot20">
			<div class="blog_post">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><%= current_page.data.title %></h3>
					</div>
					<div class="panel-body">
						<%= yield %>
					</div>
				</div>

			</div>		<!-- //Blog Post -->

		</div>
		<!-- Sidebar -->
		<div id="sidebar" class="col-lg-3 col-sm-3">
			<%= partial "search_sidepanel" %>
							

			<%= partial "til_sidepanel" %>

			<%= partial "li_sidepanel" %>

		</div><!-- //Sidebar -->

	</div>			
					
</section>

<% end %>
