<% wrap_layout :layout do %>

<div class="row breadcrumbs_block padbot20">
	<div class="col-lg-12 col-sm-12">
		<!-- LOGO -->
		<div class="logo">
			<a href="/index.html"><img src="/images/vfgtop.png"></a> 
		</div><!-- LOGO -->
	</div>
</div>
					<!-- Blog content -->
<section class="our_vision">
	<div class="row">
		<!-- Blog Post -->
		<div class="col-lg-9 col-sm-9 padbot20">
			<div class="blog_post">
				<h2><%= current_page.data.title %></h2>
				<div class="post_meta">
					Posted by <a href="javascript:void(0);">Alanson Van Fleet</a>
					<span class="sep">|</span>
					<%= Date.parse(current_page.data.date).strftime("%b %e %Y") %>
					<span class="sep">|</span>
					tags: <% current_page.data.tags.collect{ |f| %>
                    <%= f %>
                <% }.join(", ") %>
				</div>
		  <%= yield %>
		</div>
		<div class="center">
		<div class="row margbot50">
			<% if current_article.previous_article %>
			<div class="col-md-6">
				<%= link_to "Previous", 
						current_article.previous_article, 
						class: "btn btn-default", role: "button" %>				
			</div>
			<% end %>
			<% if current_article.next_article %>
			<div class="col-md-6">
				<%= link_to "Next", 
						current_article.next_article, 
						class: "btn btn-default", role: "button" %>				
			</div>
			<% end %>
		</div>
	  </div>
		
		<%# leadership_insights or thinking_of_leadership %>
    <%= partial current_page.blog_options.name.underscore %>
	</div>
	<%= partial "sidebar" %>

	<!-- //Blog Post -->
</div>			
					
</section><!-- //Blog content -->
<% end %>
