<% wrap_layout :layout do %>

<div class="row breadcrumbs_block padbot20">
	<div class="col-lg-12 col-sm-12">
		<!-- LOGO -->
		<div class="logo">
			<a href="/index.html"><img src="/images/vfgtop.png"></a> 
		</div><!-- LOGO -->
	</div>
</div>
					<!-- Blog content -->
<section class="our_vision">
	<div class="row">
		<!-- Blog Post -->
		<div class="col-lg-9 col-sm-9 padbot20">
			<div class="blog_post">
				<h2><span class="glyphicon glyphicon-picture"></span><%= current_page.data.title %></h2>
				<div class="post_meta">
					Posted by <a href="javascript:void(0);">Alanson Van Fleet</a>
					<span class="sep">|</span>
					<%= Date.parse(current_page.data.date).strftime("%b %e %Y") %>
					<span class="sep">|</span>
					tags: <% current_page.data.tags.collect{ |f| %>
                    <%= f %>
                <% }.join(", ") %>
				</div>
		  
<%= yield %>
</div>

	<section id="thinking_section">
				<div class="center">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Thinking of Leadership</h3>
						</div>
						<!-- form horizontal in bootstrap docs -->
						<form name="newsletter_form" method="get" class="search_form form">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-8 padbot20">
										<div class="container">
											<div class="row">
											<div class="col-md-6 form-group">
												<label for="name">Name:</label>
												<input class="input_wt" name="name" type="text" />
											</div>
											<div class="col-md-6 form-group">
												<label for="email">Email:</label>
												<input class="input_wt" type="text" name="email"/>				
											</div>
										</div>
										</div>
									</div>
									<div class="col-md-4 padbot20">
										<a class="btn btn-default" href="founder.html" role="button">Subscribe</a>
									</div>
					
								</div>
				
								Find thought-provoking quotes about leadership that can bring fresh perspectives to your work as a leader, along with related reflections and opportunities to learn more.
							</div>
						</form>
					
					</div>
				</div>
			</section>			
		</div>
		<%= partial "sidebar" %>

		<!-- //Blog Post -->
	</div>			
					
</section><!-- //Blog content -->
<% end %>
